<div class="container">
  <header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
      <img src="/logo2.jpeg" width="5%" alt="Logo" class="me-2">
      <span class="fs-4">IdBird</span>
  </header>
</div>